{# layout.html.twig #}
{% spaceless %}
<!DOCTYPE html>
<html lang="{{ app.session.locale }}">
    <head>
        <meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>
        <meta content="index,follow" name="robots"/>
        <meta content="{% block description %}{% trans %} sfbcn.meta.description {% endtrans %}{% endblock %}" name="description"/>
        <meta content="{% block keywords %}{% trans %} sfbcn.meta.keywords {% endtrans %}{% endblock %}" name="keywords"/>
        <meta content="7 days" name="revisit-after"/>
        <title>{% trans %} sfbcn.meta.title {% endtrans %}{% block title %}{% endblock %}</title>
        {% block stylesheets %}
            {% stylesheets '@SFBCNWebsiteBundle/Resources/assets/css/01-normalize.css'
                           '@SFBCNWebsiteBundle/Resources/assets/css/*-web-*.css' %}
                <link href="{{ asset_url }}" type="text/css" rel="stylesheet" />
            {% endstylesheets %}
        {% endblock %}
    </head>
    <body>
        <header>
            {% include 'SFBCNWebsiteBundle::menu.html.twig' %}
        </header>
        <section>
            {% block content %}{% endblock %}
        </section>
        <footer>
            {% include 'SFBCNWebsiteBundle::footer.html.twig' %}
        </footer>
        {% block javascripts %}
            {% javascripts '@SFBCNWebsiteBundle/Resources/assets/js/*' %}
                <script type="text/javascript" src="{{ asset_url }}"></script>
            {% endjavascripts %}
        {% endblock %}
    </body>
</html>
{% endspaceless %}
